* { 
    box-sizing: border-box;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

[data-provide=chat] {
    position: fixed;
    background-color: #000;
    color: #fff;
    height: 32px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    .conversation {
        background-color: black;
        position: fixed;
        bottom: 0;
        .me {
            color: #69e;
        }

        input {
            width: 100%;
        }
    }
}

