<% layout('layout.ejs'); %>
<h1>Chat Server</h1>

<p>This is a simple proof-of-concept webchat, initiated by XMPP.</p>
<p>It's built using flexbox for layout, and currently can only respond to chat sessions started by others.</p></p>

<div data-provide='chat'></div>
<script src='/chat-server.js'></script>
