<!doctype html>
<html>
    <head>
        <title><%- title %></title>
        <link rel='stylesheet' href='/site.css'>
        <script src="jam/require.js"></script>
    </head>
    <body>
        <%- body %>
    </body>
</html>

